*{
	font-family:sans-serif,serif,monospace;
	margin: 0;
	padding: 0;

}
body{
	color: white;
	text-decoration: none;
	width: 100%;
	background-color: #000021;

}
header{
	color: white;
	padding: 1.5rem 10%;
	background-color: #12123E;
	justify-content: space-between;
	display: flex;
	position: sticky;
	top:0;
	z-index:100;

}
#vid{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	z-index: -1;
}
nav{
	display: flex;
	gap:40px;


}
nav a{
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	font: bold;
}



